.table-responsive-md {
    margin: 50px 70px;
}

table.dashboard-table tr th { 
    font-size: 15px;
    text-align: center;
}

table.dashboard-table tr td { 
    font-size: 15px;
    text-align: center;
}
