.col-md-4 {
    padding-top: 15px;
}

.row {
    margin-top: 50px;
}

.errors {
    font-size: 13px;
    color: red;
    font-style: italic;
    padding-left: 5px;
}

.btn-submit {
    margin-right: 15px;
}