.checkout-container {
    max-width: 70em;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 4em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 4em;
}