.filter-label {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
    margin-right: 0.5em;
}

.filter-select {
    font-size: 15px;
    background-color: #FFF;
    color: #595959;
    min-width: 9em;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
}

.filter-select:hover {
    color: #000;
}

.filter-option {
    font-size: 15px;
}
