.card-button {
    background-color: transparent;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 0.3em;   
}

.card-button:hover {
    color: #3498db;
    border: 1px solid #3498db;
}