.table-responsive-md {
    margin: 0 auto;
    max-width: 70em;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
    top: 5em;
}

table.dashboard-table tr th,
table.dashboard-table tr td {
    font-size: 15px;
    text-align: center;
    padding: 1.5em 1em;
}

table.dashboard-table tr th { 
    background-color: #17A2B8;
    font-weight: bold;
}

.not-found {
    font-size: 2em;
    font-style: italic;
    position: absolute;
    top: 5em;
    left: 18em;
}

.fade {
    animation: fade 0.8s ease-in forwards;
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.fade-onload {
    opacity: 0;
    animation: onload 1s ease-in-out forwards
}

@keyframes onload {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
